body{

    background-color: #B7F3BB;
}
table{
    border: 1px solid black;
    width: 1000px;
}
th{
    width: 900px;
}
table th {
    width: auto !important;
}
.list-group-item{
    background-color: lightgreen;
    border-color: darkgreen;
}

.btn-default {
    width: 130px;
    background-color: lightgreen;
    border-color:  #A7fFCB;
    border-width: medium;
    outline-color: #C7f5BB;
        
}
.btn-default:hover {
    background-color: green;
    border-color:  #A7fFCB;
    border-width: medium;
        
}
.login{
    position: relative;
}
.btn-default:focus {
    background-color: darkgreen;
    border-color:  #A7fFCB;
    border-width: medium;
        
}
.text {
    position: relative;;
    padding-top:  40px;
   margin-left:auto;
   margin-right:auto;

    text-align: left;
    max-width: 800px;
    
}
.center{
     margin-left:auto;
   margin-right:auto;
}
.registration {
 
 margin-left:auto;
   margin-right:auto;
    
    width: 350px;
    
}
.img{
    margin-left: 25px;
    margin-right: 20px;
    float:right;
}
.login{
     margin-left:auto;
   margin-right:auto;
    width: 300px
}
